.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: #ff0000; /* Red color for error messages */
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px; /* Adjust spacing as needed */
  text-align: center;
  padding: 10px; /* Optional padding for better visual appeal */
}

.title {
  font-size: 36px; /* Adjust font size */
  font-weight: bold;
  color: #303030;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top : 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchinput {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 40px;
  width: 360px;
  height: 40px;
  padding-left: 20px;
  color: #312e2e;
  font-size: 20px;
  font-weight: 500;
  border-color: black;
}

.searchbutton {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  width: 40px;
  height: 40px; 
  background: #ffffff;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 15px;
  border: 1px solid black;
}

.mainbody {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.wdiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 50vw;
 
}

.wicon {
  width: 100px;
  height: 100px;
}

.temp {
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.city {
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.sdiv {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 25px;
  padding-top: 20px;
  text-align: center;
  border: rgb(199, 239, 250) 3px solid;
  min-width: 500px;
}

.playlistimage {
  width: 50%;
  height: auto
}

.playlisttitle {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Adjust color to your preference */
  text-align: center;
  margin-bottom: 10px; /* Adjust spacing as needed */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.playlistlink {
  color: black;
  font-size: 15px;
  font-weight: 400;
}

.nosearch {
  display: flex;
  justify-content: center;
  height: 60vh;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}