.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: #ff0000; /* Red color for error messages */
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px; /* Adjust spacing as needed */
  text-align: center;
  padding: 10px; /* Optional padding for better visual appeal */
}

.title {
  font-size: 36px; /* Adjust font size */
  font-weight: bold;
  color: #ececec;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top : 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.search-bar-container {
  padding-top: 1vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.form {
  display: flex;
  align-items: center;
  background-color:rgb(66, 66, 66);
  border-radius:10px;
  box-shadow: 0px 0px 4px rgb(77, 255, 148);
  width: 100%;
  height: 2.5rem;
  padding:0 0 0 15px;
}

.searchinput {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  background: transparent;
  margin-right:5px;
  color:#ececec;
}

.searchinput:focus {
  outline: none;
}

.searchbutton {
  background-color: transparent;
  border:none;
  height:100%;
  margin:none;
  width:50px;
  border-radius: 10px;
}

.searchbutton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#search-icon {
  color: rgb(255, 255, 255);
}

.mainbody {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.wdiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 50vw;
 
}

.wicon {
  width: 100px;
  height: 100px;
}

.temp {
  color: #ececec;
  font-size: 40px;
  font-weight: 400;
}

.city {
  color: #ececec;
  font-size: 40px;
  font-weight: 400;
}

.sdiv {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 25px;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0px 0px 8px rgb(77, 255, 148);
  min-width: 500px;
  border-radius: 10px;
  background-color: rgb(66, 66, 66);
}

.playlistimage {
  width: 50%;
  height: auto
}

.playlisttitle {
  font-size: 24px;
  font-weight: bold;
  color: #ececec; /* Adjust color to your preference */
  text-align: center;
  margin-bottom: 10px; /* Adjust spacing as needed */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.playlistlink {
  color: #ececec;
  font-size: 15px;
  font-weight: 400;
}

.nosearch {
  display: flex;
  justify-content: center;
  height: 60vh;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 24px;
  color: #ececec;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}